@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <h2>Trailer Searcher</h2>
    <span>Title</span><br/><input type="text" id="inTitle" />
    <input type="button" name="submit" id="inSearch" value="Search"/>
    <hr/>
    <img style="display: none" id="load"src="~/Content/image/load.gif"/>
    <div class="movie-list">
    </div>
    <div class="add-more" style="color: blue; height: 20px; width: 100px">Add more</div>
</div>

