@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <div>
        <span class="bold">Trailer Searcher</span>
        <select id="searchType">
            <option value="title"> by Title</option>
            <option value="id"> by Id</option>
        </select>
    </div>
    <br/>
    <div id="searchByTitle">
        <input placeholder="type movie title" type="text" id="title"/>
        <br/>
        <input placeholder="type year" type="text" id="year"/>
        <br/>
        <label>exact filter</label>
        <input type="checkbox" id="exact" />
    </div>
    <div id="searchById" style="display: none">
        <input placeholder="type movie id" type="text" id="movieId"/>
    </div>
    <input style="display: none" type="button" id="Back" value="<< Back" />
    <input type="button" name="submit" id="Search" value="Search"/>
    <input style="display: none" type="button" id="Next" value="Next >>" />
    <hr/>
    <img style="display: none" id="load" src="~/Content/image/load.gif"/>
    <img style="display: none" id="noResults" src="~/Content/image/no-results.jpg" />
    <div class="movie-list">
    </div>
</div>

